.body{

}
.bl{
    display: block;
}
.ibl{
    display: inline-block;
}
input, button, textarea, select{
    outline: none;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
.fixed{
    position: fixed;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.stick{
    position: sticky;
}
.aic{
    align-items: center !important;
}
.flex{
    display: flex;
}
.s12{
    font-size: 12px;
}
.s13{
    font-size: 13px;
}
.s14{
    font-size: 14px;
}
.s15{
    font-size: 15px;
}
.s16{
    font-size: 16px;
}
.s18{
    font-size: 18px;
}
.s20{
    font-size : 20px;
}
.s22{
    font-size : 22px;
}
.s24{
    font-size: 24px;
}
.s30{
    font-size: 30px;
}
.font{
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-weight: normal;
}
.b{
    font-weight: bold;
}
.noul{
    text-decoration: none;
}
.noulh:hover{
    text-decoration: underline;
}